.texto-boton{
    color:coral;
}

.texto-boton:hover{
    background-color:green;
    color:white;
}
.texto-boton::before {
    content: "Pasa por encima"
}
.texto-boton::before {
    content: "¡Hecho!"
}

